{% extends 'main/base.html' %}

{% block title %}Drive{% endblock %}
{% load crispy_forms_tags %}
{% load mptt_tags %}
{% load static %}


{% block content %}
<div class="row">
	<div class="col-3">
		<div class="flex-shrink-0 p-3 bg-white">
		    <ul class="list-unstyled ps-0">
		    	<!--
		        <li class="mb-1">
		        	<button class="btn btn-toggle align-items-center rounded collapsed" style="color: midnightblue;" data-bs-toggle="collapse" data-bs-target="#orderss-collapse" aria-expanded="false">
		        		<i class="fa fa-hdd"></i>
		          		My Drive
		        	</button>
			        <div class="collapse" id="orderss-collapse">
			          	<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				            {% recursetree user.folder.all %}
						    <li class="nav-item">
						    	<div class="row">
						    		<div class="col-8">
						    			<a href="/folder/{{node.id}}" class="nav-link" style="color: midnightblue;">
								          <i class="fa fa-angle-right"></i> <span id="{{node.id}}">{{ node.name }}</span>
								        </a>
						    		</div>
						    		{% if node.level < 3 %}
						    		<div class="col-4">
						    			<a href="#" style="color: midnightblue; text-decoration: none;" onclick="myFunction({{node.id}})"><i class="fa fa-folder"></i> Add</a>
						    		</div>
						    		{% endif %}
						    	</div>
						        {% if not node.is_leaf_node %}
						        	<ul class="btn-toggle-nav fw-normal pb-1 small" style="list-style: none;">
						        		{{ children }}
						        	</ul>
						        {% endif %}
						    </li>
						    {% endrecursetree %}
				        </ul>
			        </div>
			    </li>
				-->
			    <li class="nav-item">
			        <a href="/drive/" class="nav-link" style="color: midnightblue;">
			          <i class="fa fa-hdd"></i> My Drive
			        </a>
			    </li>
			    <li class="nav-item">
			        <a href="#" class="nav-link" style="color: midnightblue;">
			          <i class="fa fa-users"></i> Shared with me
			        </a>
			    </li>
			    <li class="nav-item">
			        <a href="#" class="nav-link" style="color: midnightblue;">
			          <i class="fa fa-clock"></i> Recent
			        </a>
			    </li>
			    <li class="nav-item">
			        <a href="#" class="nav-link" style="color: midnightblue;">
			          <i class="fa fa-star"></i> Stared
			        </a>
			    </li>
			    <li class="nav-item">
			        <a href="#" class="nav-link" style="color: midnightblue;">
			          <i class="fa fa-trash"></i> Trash
			        </a>
			    </li>
		        <li class="border-top my-3"></li>
		        <li class="nav-iten mb-1">
		        	<span style="color: midnightblue;"><i class="fa fa-cloud"></i> Storage</span>
		        	<br></br>
		        	<span style="color: midnightblue;">1.28 GB of 15 GB used</span>
		        </li>
		    </ul>
	  	</div>
	</div>
	<div class="col-9">
		<div class="row">
			<div class="col-2">
				<div class="dropdown">
				  	<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
					    My Drive
				  	</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="#" onClick="show()"><i class="fa fa-plus"></i> New Folder</a>
					    <a class="dropdown-item" href="/upload_file/0"><i class="fa fa-file"></i> File Upload</a>
					    <a class="dropdown-item" href="#"><i class="fa fa-folder"></i> Folder Upload</a>
					</div>
				</div>
			</div>
			<div class="col-10">
				<form id="myForm" method="post" action="/drive/" style="display:none;">
					<div class="row">
						<div class="col-8">
							{% csrf_token %}
			    			{{ form | crispy}}
						</div>
						<div class="col-4">
							<button type="submit" class="btn btn-primary">Add</button>
		    				<a href="#" class="btn btn-primary " onClick="hide()">Cancel</a>
						</div>
					</div>			    	
			    </form>	
			</div>
		</div>
		<div class="row">		
		{% if user.folder.all %}
			{% recursetree user.folder.all %}
				{% if not node.file %}
					<div class="col-2" style="text-align: center; height: 200px;">
						<a href="/folder/{{node.id}}">
						 	<img src="{% static '/image/folder.png' %}" alt="" height="100%" width="100%"> 
							<span>{{ node.name }}</span>
						</a>
					</div>
				{% else %}
					{% if node.file.url|slice:"-4:" == ".jpg" or node.file.url|slice:"-4:" == ".png" %}
					<div class="col-2" style="text-align: center; padding-top: 50px; height: 200px;">
						<a href="{{ node.file.url}}" target="_blank">
						 	<img src="{{ node.file.url }}" alt="" height="100%" width="100%"> 
							<span>{{ node.name }}</span>
						</a>
					</div>
					{% elif node.file.url|slice:"-4:" == ".pdf" %}
					<div class="col-2" style="text-align: center; padding-top: 50px; height: 200px;">
						<a href="{{ node.file.url}}" target="_blank">
							<img src="{% static '/image/pdf.png' %}" alt="" height="100%" width="100%"> 
							<span>{{ node.name }}</span>
						</a>
					</div>
					{% elif node.file.url|slice:"-4:" == ".doc" or node.file.url|slice:"-4:" == "docx" or node.file.url|slice:"-4:" == ".odt" %}
					<div class="col-2" style="text-align: center; padding-top: 50px; height: 200px;">
						<a href="{{ node.file.url}}" target="_blank">
						 	 <img src="{% static '/image/doc.png' %}" alt="" height="100%" width="100%">
							<span>{{ node.name }}</span>
						</a>
					</div>	
					{% elif node.file.url|slice:"-4:" == ".mp4" or node.file.url|slice:"-4:" == ".avi" %}
					<div class="col-2" style="text-align: center; padding-top: 50px; height: 200px;">
						<a href="{{ node.file.url}}" target="_blank">
					 	 	<img src="{% static '/image/video.png' %}" alt="" height="100%" width="100%">
							<span>{{ node.name }}</span>
						</a>
					</div>	
					{% endif %}
				{% endif %}
			{% endrecursetree %}
		{% else %}
			<div class="col-12" style="text-align: center;">
				<p>Sorry, no document found.</p>
			</div>
		{% endif %}
		</div>
	</div>
</div>
<script type="text/javascript">
	$('myForm').trigger("reset");

	function show(){
		document.getElementById('myForm').style.display="block" ;
	}

	function hide(){
		document.getElementById('myForm').style.display="none" ;
	}

	function remove(){
		document.getElementById('newForm').remove() ;
	}

	function myFunction(id) {
		if (document.contains(document.getElementById("newForm"))) {
			document.getElementById("newForm").remove();
		}

		var a = document.getElementById(id);
		a.insertAdjacentHTML('afterend', 
			'<form id="newForm" class="form-insert py-2" action="/drive/" method="post"> \
			{% csrf_token %} \
			{{ crispy}} \
			<input type="text" name="name" class="col-sm-12" maxlenght="255" required="" id="id_name"/> \
			<select name="parent" class="d-none" id="id_parentt"> \
			<option value="'+id+'" selected="'+id+'"></option> \
			</select> \
			<br></br> \
			<div class="row"><div class="col-12"><div class="float-end"> \
			<button type="submit" class="btn btn-primary">Add</button> \
			<a href="#" class="btn btn-primary " onClick="remove()">Cancel</a> \
			</div></div></div> \
			</form>'
			);
	}
</script>
{% endblock %}